doctype html
html
  head
    title Games Preview
    link(rel='stylesheet', href='/stylesheets/games.css')
  body
    include layout.jade
    // Main content
    #container
      h1 Games Preview

      #game-list
        // Game 1
        .game-item
          a(href='/game/Tic-Tac-Toe')
            img(src='/images/image1.png', alt='Tic Tac Toe')
          .description Tic Tac Toe

        // Game 2
        .game-item
          a(href='/game/Rock-Paper-Scissors')
            img(src='/images/image2.jpg', alt='Rock Paper Scissors', style='width: auto; height: 300px;')
          .description Rock Paper Scissors

        // Game 3
        .game-item
          a(href='/game/Connect-4')
            img(src='/images/image3.jpeg', alt='Connect 4')
          .description Connect 4

        // Game 4
        .game-item
          a(href='/game/Snake-Game')
            img(src='/images/image4.jpg', alt='Snake Game')
          .description Snake Game

        // Game 5
        .game-item
          a(href='/game/Tetris-Game')
            img(src='/images/image5.jpg', alt='Tetris Game')
          .description Tetris Game

        // Game 6
        .game-item
          a(href='/game/Memory-Game')
            img(src='/images/image6.jpeg', alt='Memory Game')
          .description Memory 
        
        // Game 6
        .game-item
          a(href='/game/demo')
            img(src='/images/image6.jpeg', alt='demo')
          .description Demo
