extends layout

block content
  .container.mt-5.d-flex.justify-content-center.align-items-center(style='min-height:80vh')
    .card.shadow-lg(style='max-width: 500px; width: 100%;')
      .card-body
        h3.card-title.text-center.mb-4 Login
        p.text-center.text-muted.mb-4
          | Sign in with your account. Don't have one?
          a(href='/signup', class='black-link') SignUp Now.
        form(action='/signin', method='POST')
          .form-group
            label(for='username') Username
            input.form-control(type='text', id='username', name='username', placeholder='Enter a username', required=true)
          .form-group
            label(for='password') Password
            input.form-control(type='password', id='password', name='password', placeholder='Enter a password', required=true)
          button.btn.btn-block(style='background-color: black; color: white;', type='submit') Sign In
          a.btn.btn-secondary.btn-block(href='/') Cancel
