doctype html
html
  head
    title GAMIN Vlogs
    link(rel="stylesheet", href="/stylesheets/vlogs.css")

  body
    include layout.jade
    h1 GAMIN Vlogs

    .container
      .video-card
        iframe(src='https://youtube.com/embed/2dsHuU10udY?si=OZGUjt73hZcYdujh', allowfullscreen="true", width="325", height="200")
        .video-title Rock Paper Scissors Strategies
        .video-description Learn the best strategies for Rock Paper Scissors.

      .video-card
        iframe(src='https://youtube.com/embed/5SdW0_wTX5c?si=Q4Wf5_5jPvUth4X4', allowfullscreen="true", width="325", height="200")
        .video-title Tic Tac Toe: Pro Tips
        .video-description Master the game of Tic Tac Toe with these tips!

      .video-card
        iframe(src='https://youtube.com/embed/3-kG7U9kzhw?si=yjTTIDCG8oOPmy0N', allowfullscreen="true", width="325", height="200")
        .video-title Snake Game Tips
        .video-description Tips for mastering the Snack Game!

      .video-card
        iframe(src='https://www.youtube.com/embed/YqqcNjQMX18?si=r2A3XDJNwhC6efSP', allowfullscreen="true", width="325", height="200")
        .video-title Connect 4 Strategies
        .video-description Winning strategies for Connect 4!

      .video-card
        iframe(src='https://www.youtube.com/embed/bgXJWotViOY?si=uBzcfV7vcMZJEovE', allowfullscreen="true", width="325", height="200")
        .video-title Memory Game Techniques
        .video-description Techniques to win the Memory Game!

      .video-card
        iframe(src='https://www.youtube.com/embed/TUuYj69Va0g?si=ZW_nfik1xoJP3CDq', allowfullscreen="true", width="325", height="200")
        .video-title Tetris for Beginners
        .video-description Simple and the best medthods to play Tetris!
